@model Spring2026_Project3_rahandley.Models.ViewModels.ActorMovieCreateViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActorMovie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ActorMovie.Id" />

            <div class="form-group">
                <label asp-for="ActorMovie.ActorId" class="control-label"></label>
                <select asp-for="ActorMovie.ActorId" class="form-control">
                    @foreach (var actor in Model.Actors)
                    {
                        <option value="@actor.Id" selected="@(actor.Id == Model.ActorMovie.ActorId)">
                            @actor.Name
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="ActorMovie.MovieId" class="control-label"></label>
                <select asp-for="ActorMovie.MovieId" class="form-control">
                    @foreach (var movie in Model.Movies)
                    {
                        <option value="@movie.Id" selected="@(movie.Id == Model.ActorMovie.MovieId)">
                            @movie.Title
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>